<div class="app-container">
  <aside class="sidebar" *ngIf="isLoggedIn()">
    <a routerLink="/dashboard" class="sidebar-logo-link">
      <img src="assets/TempliMail_logo_1_.png" alt="TempliMail" class="sidebar-logo" />
    </a>

    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fa-solid fa-chart-line"></i> <span>Dashboard</span>
      </a>
      <a routerLink="/send" routerLinkActive="active">
        <i class="fa-solid fa-paper-plane"></i> <span>Enviar</span>
      </a>
      <a routerLink="/mass-mail" routerLinkActive="active">
        <i class="fa-solid fa-people-group"></i> <span>Masivo</span>
      </a>
      <a routerLink="/contactos" routerLinkActive="active">
        <i class="fa-solid fa-address-book"></i> <span>Contactos</span>
      </a>
      <a routerLink="/templates" routerLinkActive="active">
        <i class="fa-solid fa-file-lines"></i> <span>Plantillas</span>
      </a>
      <a routerLink="/historial" routerLinkActive="active">
        <i class="fa-solid fa-clock-rotate-left"></i> <span>Historial</span>
      </a>
      <a (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i> <span>Salir</span>
      </a>
    </nav>

  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>