/* Contenedor principal */
.app-container {
  display: flex;
  height: 100vh;
  background-color: #f2f2f2; /* Azul oscuro fondo */
}

/* Contenido principal */
.app-content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}
