<!-- Message -->
<div *ngIf="messageVisible"
     [ngClass]="{
       'alert': true,
       'alert-success': !message.startsWith('❌'),
       'alert-danger': message.startsWith('❌')
     }"
     class="text-center">
  {{ message }}
</div>

<!-- Form -->
<form (ngSubmit)="saveTemplate()" #form="ngForm">

  <div class="mb-3">
    <label for="name" class="form-label">
      Nombre plantilla
    </label>

    <input
      type="text"
      id="name"
      class="form-control"
      [(ngModel)]="templateForm.name"
      name="name"
      required
    />
  </div>

  <div class="mb-3">
    <label for="subject" class="form-label">
      Asunto
    </label>

    <input
      type="text"
      id="subject"
      class="form-control"
      [(ngModel)]="templateForm.subject"
      name="subject"
      required
    />
  </div>

  <div class="editor-container mb-3">
    <label for="content" class="form-label">
      Contenido
    </label>

    <editor
      apiKey="90fkwvwq8dyv54dm0438f6opzfzf2deaz8j3ss23vmw3gtoq"
      [(ngModel)]="templateForm.content_html"
      name="content_html"
      [init]="{
        height: 500,
        resize: true,
        menubar: true,
        plugins: 'advlist autolink lists link image charmap preview anchor searchreplace visualblocks code fullscreen insertdatetime media table help wordcount',
        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | fullscreen | help'
      }">
    </editor>
  </div>

  <!-- File Upload -->
  <div class="mb-3 upload-wrapper">

    <label for="fileInput" class="form-label">
       Subir archivo (.docx or .pdf):
    </label>

    <div class="upload-row">
      <input
        type="file"
        id="fileInput"
        (change)="selectedFile = $event"
        accept=".docx,.pdf"
      />

      <button
        type="button"
        class="btn btn-secondary"
        (click)="uploadFile()">
        Cargar archivo
      </button>
    </div>

  </div>

  <button type="submit" class="btn btn-primary">
    {{ editing ? 'Update Template' : 'Guardar plantilla' }}
  </button>

</form>

<hr class="my-5" />

<h3 class="mb-3 text-center fw-semibold">
  Plantillas guardadas
</h3>

<div class="tabla-plantillas">

  <table>

    <thead>
      <tr>
        <th>Nombre</th>
        <th>Asunto</th>
        <th style="width: 180px;">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let template of templates">

        <td>{{ template.name }}</td>
        <td>{{ template.subject }}</td>

        <td class="acciones">
          <button (click)="editTemplate(template)">
            Editar
          </button>

          <button (click)="deleteTemplate(template.id)">
            Eliminar
          </button>
        </td>

      </tr>
    </tbody>

  </table>

</div>
