* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #0e1a2b;
  font-family: 'Inter', 'Poppins', sans-serif;
}


body>app-root {
  display: block;
  width: 100%;
  height: 100%;
}